{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#articleList}}
        <!--entity 가져옴, 모델에 있는 데이터는 #을 통해 갖고 올 수 있다--->
        <tr>
            <td>{{id}}</td>
            <td><a href="/articles/{{id}}">{{title}}</a></td>
            <td>{{content}}</td>
        </tr>
    {{/articleList}}  <!--article을 어디까지 가져와서 쓸거냐를 설정해야함 -->
    </tbody>
</table>

<a href="/articles/new">New Article</a>

{{>layouts/footer}}